/**
 * iexModal
 */

.iexmodal{
    display: none;
    position: fixed;
    z-index: 9990;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

.iexmodal-spinner {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    opacity: 0;
}

.iexmodal-loading .iexmodal-spinner{
    opacity: 1;
}

.iexmodal-spinner::after {
    content: "";
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent #fff transparent;
    -webkit-animation: rotateSpinner 1.2s linear infinite;
    animation: rotateSpinner 1.2s linear infinite;
}

@keyframes rotateSpinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotateSpinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.iexmodal-popup {
    position: fixed;
    opacity: 0;
    z-index: 9991;
    /* width: 450px; задаем в JS */
    left: 50%;
    top: 50%;
    border-radius: 3px;
    background-color: #fff;
    transition: height 1s ease 0s;
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    -webkit-appearance: none; /* отключает стили Safari на iOS (чтобы работало box-shadow) */
}

.iexmodal-fullscreen .iexmodal-popup,
.iexmodal-overflow-y .iexmodal-popup{
    top: 10px;
    bottom: 10px;
}

.iexmodal-fullscreen .iexmodal-popup,
.iexmodal-overflow-x .iexmodal-popup{
    left: 10px;
    right: 10px;
}

.iexmodal-top .iexmodal-popup{
    top: 0;
    right: 0;
    bottom: 50%;
    left: 0;
    border-radius: 0 0 3px 3px;
}
.iexmodal-right .iexmodal-popup{
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    border-radius: 3px 0 0 3px;
}
.iexmodal-bottom .iexmodal-popup{
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 3px 3px 0 0;
}
.iexmodal-left .iexmodal-popup{
    top: 0;
    right: 50%;
    bottom: 0;
    left: 0;
    border-radius: 0 3px 3px 0;
}
@media (max-width: 500px) {
    .iexmodal-right .iexmodal-popup{
        left: 20%;
    }
    .iexmodal-left .iexmodal-popup{
        right: 20%;
    }
}
@media (max-height: 450px) {
    .iexmodal-top .iexmodal-popup{
        bottom: 20%;
    }
    .iexmodal-bottom .iexmodal-popup{
        top: 20%;
    }
}

.iexmodal-fullscreen .iexmodal-popup,
.iexmodal-top .iexmodal-popup,
.iexmodal-right .iexmodal-popup,
.iexmodal-bottom .iexmodal-popup,
.iexmodal-left .iexmodal-popup {
    width: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.iexmodal-inner {
    position: relative;
    z-index: 9992;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    cursor: default;
}

.iexmodal-fullscreen .iexmodal-inner,
.iexmodal-left .iexmodal-inner,
.iexmodal-top .iexmodal-inner,
.iexmodal-right .iexmodal-inner,
.iexmodal-bottom .iexmodal-inner,
.iexmodal-overflow-y .iexmodal-inner {
    height: 100%;
}



/* нужно чтобы за границу блока iexmodal-inner-wrap не вылазили margin-top у первого дочернего элемента и margin-bottom у последнего дочернего элемента */
.iexmodal-inner-wrap::before,
.iexmodal-inner-wrap::after{
    content: "";
    display: block;
    height: 1px;
}

.iexmodal-icon{
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke: currentColor;
    fill: currentColor;
}

.iexmodal-close-light,
.iexmodal-close-dark{
    position: absolute;
    padding: 18px;
    stroke-linecap: round;
    cursor: pointer;
}

.iexmodal-close-light{
    right: 0;
    top: 0;
    font-size: 26px;
    stroke-width: 2.3px;
    color: #fff;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    opacity: 0;
}

.iexmodal-right .iexmodal-close-light{
    right: auto;
    left: 0;
}

.iexmodal-loading .iexmodal-close-light{
    opacity: 1;
}

.iexmodal-close-dark{
    z-index: 9993;
    right: -5px;
    top: -5px;
    font-size: 18px;
    stroke-width: 3px;
    color: #000;
}

.iexmodal-right .iexmodal-close-dark{
    right: auto;
    left: -5px;
}

.iexmodal-close-light .iexmodal-icon,
.iexmodal-close-dark .iexmodal-icon{
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    transform-origin: center center;
}

.iexmodal-close-dark .iexmodal-icon{
    opacity: 0.6;
}

.iexmodal-close-light:hover .iexmodal-icon,
.iexmodal-close-dark:hover .iexmodal-icon{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.iexmodal-close-dark:hover .iexmodal-icon{
    opacity: 0.8;
}

.iexmodal-content{
    display: none;
}

.iexmodal-debug-wrap{
    word-wrap: break-word;
}

.iexmodal-debug-code{
    max-height: 150px;
    min-height: 60px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #e8e8e8;
    padding: 5px 6px;
    font-family: monospace;
    font-size: 13px;
    line-height: 16px;
    resize: vertical;
}

/*
 * END: iexModal
 */

/*
 * perfect-scrollbar.js
 */
/*
 * Container style
 */
.ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
    display: none;
    opacity: 0;
    transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    height: 15px;
    /* there must be 'bottom' or 'top' for ps__rail-x */
    bottom: 0px;
    /* please don't change 'position' */
    position: absolute;
}

.ps__rail-y {
    display: none;
    opacity: 0;
    transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    width: 15px;
    /* there must be 'right' or 'left' for ps__rail-y */
    right: 0;
    /* please don't change 'position' */
    position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
    display: block;
    background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
    opacity: 0.6;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
    background-color: #eee;
    opacity: 0.9;
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
    background-color: #aaa;
    border-radius: 6px;
    transition: background-color .2s linear, height .2s ease-in-out;
    -webkit-transition: background-color .2s linear, height .2s ease-in-out;
    height: 6px;
    /* there must be 'bottom' for ps__thumb-x */
    bottom: 2px;
    /* please don't change 'position' */
    position: absolute;
}

.ps__thumb-y {
    background-color: #aaa;
    border-radius: 6px;
    transition: background-color .2s linear, width .2s ease-in-out;
    -webkit-transition: background-color .2s linear, width .2s ease-in-out;
    width: 6px;
    /* there must be 'right' for ps__thumb-y */
    right: 2px;
    /* please don't change 'position' */
    position: absolute;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
    background-color: #999;
    height: 11px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
    background-color: #999;
    width: 11px;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
    .ps {
        overflow: auto !important;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ps {
        overflow: auto !important;
    }
}
/*
 * END: perfect-scrollbar.js
 */

/*
 * iexModal fixes for perfect-scrollbar.js
 */
.ps .ps__rail-x{
    display: none !important;
}
.ps .ps__rail-y{
    opacity: 0.4 !important;
    background-color: #ddd;
    width: 8px;
    transition: width .2s linear, background-color .2s linear;
    -webkit-transition: width .2s linear, background-color .2s linear;
}
.ps .ps__thumb-y{
    background-color: #000;
    width: auto;
    left: 2px;
    right: 2px;
}
.ps .ps__rail-y:hover{
    width: 12px;
    background-color: #ddd;
}
.ps .ps__rail-y:hover > .ps__thumb-y{
    background-color: #000;
    left: 2px;
    right: 2px;
    width: auto;
}
/*
 * END: iexModal fixes for perfect-scrollbar.js
 */